<!DOCTYPE html>
<html>

<head>
    <title>Picture of the Day</title>
    </title>
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="avatar.css">
</head>

<body>
    <div ng-app='Pics' ng-controller='MainCtrl'>
        <h1> Vote on the Pic of the Day!</h1>
        <h3> A picture is worth a thousand words... </h3>
        <form ng-submit="addPost()">
            <input placeholder="Title of Picture" ng-model="title"></input>
            <input placeholder="Image URL" ng-model="imageURL"></input>
            <input placeholder="Name of Contributor" ng-model="contributor"></input>
            <select ng-model="selectedValue">
            <option ng-repeat="x in names">{{x}}</option>
            </select>
            <button type="submit">Post Your Own</button>
        </form>
        <div ng-repeat="post in posts | orderBy: '-upvotes'">
            {{post.title}} <br> 
            <img src= {{post.image}} alt= {{post.title}} > <br> 
             <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
             Likes: {{post.upvotes}} Courtesy of {{post.contributor}}
             <br>
             This post is {{post.selectedValue}}
        </div>

    </div>
</body>

</html>
