.individualpost {
    margin-bottom: 15px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

html,body{
    background-color: lightgrey;
    color: White;
    background-image: url(https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?auto=compress&cs=tinysrgb&h=350);
}

#select {
    color: black;
}
#create {
    color: black;
}
input {
    color:black;
}